*.swp
workspace.code-workspace
www/stylesheets/*.css
www/images/instanceLogos
lib/phpqrcode/cache/
lib/vendor
config/*
!config/example.config.php
data/
log/
install/ansible/inventory.yml
install/ansible/install.retry
install/docker/container-inventory/inventory.yml
install/docker/container-inventory/install.retry
.DS_Store
