.primary-menu {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        > a {
            display: flex;
            align-items: center;

            > svg {
                margin-right: 0.6em;
            }
        }
    }

    a, button {
		box-sizing: content-box;
        display: block;
        padding: 1em;
        line-height: 1;
		min-height: 1.5em;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
		text-align: left;
    }

    // Sub-menu.
    ul {
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            color: var(--c-brand-a);
        }
    }

    .with-icon {
        padding-left: 3em !important;
    }

    /**
     *  Mobile specific styles
     */
    @media (max-width: $mq-tablet-max) {
		& {
			margin: 0 calc( -1 * var(--l-body-pad) );
			background-color: var(--c-brand-f);
		}

        li {
            border-top: 1px solid var(--c-brand-a);
        }

		// make all the options in the dropdown full width
		button {
			width: 100%;
			cursor: pointer;
		}

        // Sub-menu.
        ul {
            background-color: var(--c-brand-b);
            li {
				border-top: 1px solid  var(--c-brand-a);
				a {
					color: #fff;
					padding: 0.75em var(--l-body-pad);
					line-height: initial;
				}
            }
        }
    }

    /**
     *  Desktop specific styles
     */
    @media (min-width: $mq-desktop-min) {
        display: flex;
        align-items: center;

        > li {
            border: 0;
            position: relative;

            &:hover {

                ul {
                    display: block;
                }

                .current-selection {
                    color: white;
                    background-color: var(--c-brand-l);

                    svg {
                        path {
                            &:nth-child(1) {
                                stroke: white;
                            }
                            &:nth-child(2) {
                                fill: white;
                            }
                        }
                    }
                }
            }
        }

        .current-selection {
            border-radius: 0.3em 0.3em 0 0;
            overflow: hidden;
        }

        // Sub menu.
        ul {
            display: none;
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            padding-top: 3.1em;
            border: 1px solid var(--c-brand-a);
            border-radius: 0.3em 0.3em 0 0;
            overflow: hidden;

            li {
                background-color: white;
                border-top: 1px solid var(--c-brand-c);

                &:first-child a {
                    border: 0;
                }

                &:hover a {
                    color: black;
                }
            }
        }
    }
}

.toggle-menu-secondary {
    padding: 0;

    .secondary-menu {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            flex-wrap: wrap;
            border-top: 1px solid var(--c-brand-k);

            > a {
                flex-basis: auto;
                //flex-grow: 1;
            }

            > button {
                flex-basis: 1em;
                flex-grow: 0;
                border: 0;
                background: transparent;

            }

            ul {
                flex-basis: 100%;
                flex-shrink: 0;
            }
        }

        a {
            padding: clamp( 0.5em, calc( 0.5em + 0.1vw ),1em );
            font-weight: 700;
            text-decoration: none;
            color: inherit;

            svg {
                width: 1em;
                height: 0.8em;
            }
        }

        // Sub-menu.
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            color: white;
            background-color: var(--c-brand-b);
            z-index: 9;

            a {
                display: block;
                width: 100%;
                white-space: nowrap;

                &:hover {
                    color: white;
                    background-color: var(--c-brand-j);
                }
            }
        }

        // Has children.
        .toggle-menu {
            > a {
                padding-right: 0;
            }
        }
    }

    /**
     *  Desktop specific styles
     */
    @media (min-width: $mq-desktop-min) {

        .secondary-menu {
            padding: 0;
            display: flex;
            align-items: center;

            > li {
                position: relative;
                border: 0;
                border-right: 1px solid #ccc;

                &:first-child a {
                    padding-left: 0;
                }
            }

            // Sub-menu.
            ul {
                display: none;
                position: absolute;
                top: 3em;
                left: 0;
                min-width: 100%;
            }

            a {
                &:hover {
                    color: var(--c-brand-b);
                }
            }
        }

		// Make toggle menu's drop down on hover
        .toggle-menu {
            &:hover {
                .toggle-menu__menu {
                    display: block;
                }
            }
            .toggle-menu__toggle {
                display: block;
            }
        }
    }
}

/**
*  Mobile specific styles
*/
@media (max-width: $mq-tablet-max) {
	// Show the hamburger menu button
	button.primary-menu-button {
		display: block;
		width:2em;
		height:2em;
		box-sizing: content-box;
		padding: 0 !important;
		margin: 0;
		background: var(--c-brand-a) !important;

		svg {
			left: 0 !important;
			path {
				fill: white;
			}
		}
	}

}

/**
*  Desktop specific styles
*/
@media (min-width: $mq-desktop-min) {
	button.primary-menu-button {
		display: none;
	}
}

.toggle-menu {
        button.toggle-menu__toggle {

			// Down arrows's on top menu dropdown options
			position: relative;
            display: block;
			padding: 1em 1em 1em 2.5em;
			border: none;
			background: initial;

            svg {
				background: none;
				border: none;
				position: absolute;
				left: 1em;
				top: 50%;
				transform: translateY(-50%);

			}
			&[aria-expanded="true"] {
				svg {
					transform: translateY(-50%) rotate(180deg);
				}
			}
		}

        .toggle-menu__menu {
            display: none;

            &.is-expanded {
                display: block;
            }
        }
}
