@import 'globalMixins';
@import 'icons.scss';

body.record {
    .layout {
        @media (min-width: $mq-desktop-min) {
            --grid-cols: 1fr 500px;
        }
    }
}

div.graph-holder {
    position: relative;
}

div#hideGraphButton,
div#maximizeGraphButton,
div#minimizeGraphButton {
    position: absolute;
    top: 2px;
    background-color: var(--c-brand-a);
    padding: 5px;
    color: #fff;
    font-size: 0;

    &::after {
        margin-left: 0 !important;
    }
}

div#hideGraphButton {
    right: 2px;
    @include backgroundIcon(0.2, 5, 13, right, white);
}

div#maximizeGraphButton {
    right: 27px;
    @include backgroundIcon(0.2, 4, 5, right, white);
}

div#minimizeGraphButton {
    right: 27px;
    @include backgroundIcon(0.2, 11, 20, right, white);
}

div.questionAndAnswer.relationship {
    #choosePartnerRecord {
        margin-left:10px;
        div.info {
            margin: -5px 0 0 26px;
        }
    }
}

.tts-results-holder {
    background-color: var(--c-bg);
    border: 1px solid var(--c-brand-i);
}

.tts-results-list {
    padding-left: 10px;
    padding-right: 5px;

    li {
        list-style-type: none;

        &:hover {
            background-color: var(--c-brand-f);
        }
    }
}

a.openUrl {
    // Force the open URL button onto a new line
    margin-right: 100%;
}

iframe#graph {
    @include responsive(width,100%,100%,500px);
    @include responsive(height,50vh,50vh,500px);
}


// OLD STUFF
//div.recordMetadata {
//    margin: 20px 0 0 0;
//    padding: 0px;
//    background-color: #ddf;
//    box-sizing: content-box;
//    overflow: hidden;
//
//    a {
//        display: inline-block;
//        margin: 0 5px;
//        padding: 6px 12px;
//        font-size: 17px;
//        border: none;
//        background-color: #49f;
//        color: #fff;
//        font-weight: bold;
//    }
//
//    & > div:last-child {
//        margin: 10px;
//    }
//    & > div {
//        margin: 10px 0 10px 10px;
//
//        overflow: hidden;
//        padding: 10px;
//        background-color: #eef;
//        float: left;
//
//        span.label {
//            width: 150px;
//            text-align: right;
//            display: inline-block;
//        }
//
//        h2 {
//            font-size: 18px;
//            margin: 0px 10px 10px 0px;
//        }
//        & > div {
//            margin:10px;
//        }
//    }
//
//    #showGraphButton {
//        display: none;
//        float: right;
//        margin: 10px;
//    }
//}
//
//div#hideGraphButton,div#maximizeGraphButton,div#minimizeGraphButton {
//    position: absolute;
//    top: 20px;
//    background-color: #49f;
//    padding: 5px;
//    color: #fff;
//    font-size: 0;
//
//    &::after {
//        margin-left: 0 !important;
//    }
//}
//div#hideGraphButton {
//    right: 20px;
//    @include backgroundIcon(0.2, 5, 13, right, white);
//}
//div#maximizeGraphButton {
//    right: 45px;
//    @include backgroundIcon(0.2, 4, 5, right, white);
//}
//div#minimizeGraphButton {
//    right: 45px;
//    @include backgroundIcon(0.2, 11, 20, right, white);
//}
//
//iframe#graph {
//    float: right;
//    overflow: hidden;
//    margin-left: 10px;
//    border: 1px solid blue;
//}
//
//form.alertable.scanQRCode {
//    $popupHeight : 400px;
//    width: 400px;
//    height: 400px;
//    top: calc( 50vh - #{$popupHeight / 2} );
//
//    iframe {
//        width: 100%;
//        height: $popupHeight;
//    }
//}
//
//div.errorSummary {
//    overflow: hidden;
//    xbackground: #ffcdd2;
//    color: #B71C1C;
//    padding: 0;
//    margin: 20px 0 5px 0;
//    font-weight: bold;
//}
//
//
//body.record.admin div.buttons.top {
//    overflow: hidden;
//    float: none;
//    background-color: #eee;
//    padding: 10px;
//    margin-top: 15px;
//
//    *:first-child {
//        margin-left: 0;
//    }
//}
//
///* ============================== Relationship Management =============================== */
//div.questionAndAnswer.relationship {
//
//    button.delete {
//        @include backgroundIcon(0.3, 5, 13, left);
//        width: 20px;
//        height: 20px;
//        background-color: inherit;
//        margin: -3px 5px 5px 5px;
//        position: absolute;
//        right: 10px;
//        padding: 0;
//        overflow: hidden;
//    }
//
//    #findParterRelationshipLinkId, #choosePartnerRecord, #partnerRecordNoChoice {
//        float: left;
//    }
//    select {
//        margin-top: 0 !important;
//        font-size: 95%;
//        padding: 5px;
//    }
//
//    #choosePartnerRecord {
//        margin-left:10px;
//        div.info {
//            margin: -5px 0 0 26px;
//        }
//    }
//
//    #maxRelationshipsWarning, #partnerRecordNoChoice {
//        margin-top: 10px;
//    }
//}
//
//div.questionAndAnswerContainer.recordData {
//    .questionAndAnswer {
//
//        /* ============================== Version button =============================== */
//
//        /* make room on the right for the version link */
//        padding-right: 30px;
//        position: relative;
//
//        .answer a.version {
//            position: absolute;
//            top: 10px;
//            right: 10px;
//            @include backgroundIcon(0.3, 9, 20, right);
//            width: 20px;
//            font-size: 0;
//        }
//
//    }
//
//    /* ============================== URL-type data fields =============================== */
//    .questionAndAnswer.url a.openUrl {
//        font-size: 0;
//        @include backgroundIcon(0.3, 10, 20, left);
//
//        &:before {
//            margin: -10px 5px 0 5px;
//        }
//    }
//
//}
//
//body.public {
//    p.introduction, p.error {
//        margin-top: 20px;
//    }
//
//    div.questionAndAnswerContainer {
//        .question {
//            padding: 10px;
//            background-color: white;
//        }
//        .answer {
//            padding: 10px;
//            border-left: 5px solid white;
//        }
//    }
//}
