@import 'globalMixins';
@import 'icons.scss';


/* Main page layout */

div.recordDataHeader {

    overflow: hidden;
    position: relative;

    div.graph-holder {
        position: absolute;
        width: 30%;
        right:0;
        top:0;
        bottom: 0;
        padding-bottom: var(--l-block-pad);

    }

    div.recordMetadata {
        width: 69%;
        float: left;

        section.recordFamily {
            &>div {
                margin-bottom: var(--l-block-pad);
                width: 49%;
                float: left;
            }
            div:first-child {
                margin-right: 2%;
            }
        }

        section.relationships {
            clear: left;
        }
        
        section.ownership {
            clear: left;
            width: 49%;
            float: left;
            margin-right: 2%;
            margin-bottom: var(--l-block-pad);
        }
        section.labels {
            width: 49%;
            float: left;
            margin-bottom: var(--l-block-pad);
        }
    }

    /* Responsive adaptations */

    @media ( max-width: 1000px) {
        div.graph-holder {
            position: initial;
            padding-bottom: 0;
            width: 100%;
            height: 50vh;
            margin-bottom: var(--l-block-pad);
        }
        div.recordMetadata {
            width: 100%;
        }
    }

    @media (max-width: 640px) {
        div.recordMetadata {
            section.recordFamily > div {
                width: 100%;
            }
            section.ownership, section.labels {
                width: 100%;
                float: left;
            }
        }
    }
}

div.content {
    clear: left;
}



/* Graph view */

iframe#graph {
    width: 100%;
    height: 100%;
}

div.graph-holder {
    position: relative;
}

div#hideGraphButton,
div#maximizeGraphButton,
div#minimizeGraphButton {
    position: absolute;
    top: 2px;
    background-color: var(--c-brand-a);
    padding: 5px;
    color: #fff;
    font-size: 0;

    &::after {
        margin-left: 0 !important;
    }
}

div#hideGraphButton {
    right: 2px;
    @include backgroundIcon(0.2, 5, 13, right, white);
}

div#maximizeGraphButton {
    right: 27px;
    @include backgroundIcon(0.2, 4, 5, right, white);
}

div#minimizeGraphButton {
    right: 27px;
    @include backgroundIcon(0.2, 11, 20, right, white);
}


/* Other bits and pieces */

div.questionAndAnswer.publicView div.question{
    font-weight: bold;
}

div.questionAndAnswer.relationship {
    #choosePartnerRecord {
        margin-left:10px;
        div.info {
            margin: -5px 0 0 26px;
        }
    }
}

div.questionAndAnswer.displayToPublic {
    div.question {
        @include backgroundIcon(0.4, 13, 1, right, orange);
    }
}

.tts-results-holder {
    background-color: var(--c-bg);
    border: 1px solid var(--c-brand-i);
}

.tts-results-list {
    padding-left: 10px;
    padding-right: 5px;

    li {
        list-style-type: none;

        &:hover {
            background-color: var(--c-brand-f);
        }
    }
}

a.openUrl {
    // Force the open URL button onto a new line
    margin-right: 100%;
}

div.answer div.saveDefault {
    color: var(--c-brand-a);
    flex-basis: 100%;
}

div.questionAndAnswerContainer.publicView {
    div.question {
        font-weight: bold;
    }
    span.unit {
        background-color: inherit;
        border: inherit;
        padding: 0px 10px;
    }
}

body.record.admin main a.getShareLink {
    float: right;
}
