@import 'globalMixins';
@import 'icons.scss';

body.record {
    .layout {
        @media (min-width: $mq-desktop-min) {
            --grid-cols: 1fr 500px;
        }
    }
}

div.graph-holder {
    position: relative;
}

div#hideGraphButton,
div#maximizeGraphButton,
div#minimizeGraphButton {
    position: absolute;
    top: 2px;
    background-color: var(--c-brand-a);
    padding: 5px;
    color: #fff;
    font-size: 0;

    &::after {
        margin-left: 0 !important;
    }
}

div#hideGraphButton {
    right: 2px;
    @include backgroundIcon(0.2, 5, 13, right, white);
}

div#maximizeGraphButton {
    right: 27px;
    @include backgroundIcon(0.2, 4, 5, right, white);
}

div#minimizeGraphButton {
    right: 27px;
    @include backgroundIcon(0.2, 11, 20, right, white);
}

div.questionAndAnswer.publicView div.question{
    font-weight: bold;
}

div.questionAndAnswer.relationship {
    #choosePartnerRecord {
        margin-left:10px;
        div.info {
            margin: -5px 0 0 26px;
        }
    }
}

.tts-results-holder {
    background-color: var(--c-bg);
    border: 1px solid var(--c-brand-i);
}

.tts-results-list {
    padding-left: 10px;
    padding-right: 5px;

    li {
        list-style-type: none;

        &:hover {
            background-color: var(--c-brand-f);
        }
    }
}

a.openUrl {
    // Force the open URL button onto a new line
    margin-right: 100%;
}

iframe#graph {
    @include responsive(width,100%,100%,500px);
    @include responsive(height,50vh,50vh,500px);
}
