@import 'icons.scss';

table.relationship {

    border-spacing: 5px;
    border-collapse: separate;
    margin: 20px 20px;

    tr.descriptions {
        background: none;

        td {
            vertical-align: middle;
            padding: 5px 0px 10px 0px;
            border: none;
            small { font-size: 14px; }
        }

        td.backward {
            text-align: right;
            textarea, input {
                text-align: right;
            }
        }

        td.max {
            width: 1%;
            white-space: nowrap;
            padding: 5px;
            input {
                // Hide the arrows....
                /* Chrome, Safari, Edge, Opera */
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                -moz-appearance: textfield;

                width: 3em;
            }
        }

        textarea,input {
            padding: 5px;
            font-size: 15px;
        }

        td.arrow {
            width: 1%;
            background: rgba(255,255,255,255);
            border: 1px solid;
            &.up {
                @include backgroundIcon(1, 15, 16, left, black);
                border-width: 0 1px 0 0;
            }
            &.down {
                @include backgroundIcon(1, 2, 17, right, black);
                border-width: 0 0 0 1px;
            }
            
        }
    } 

    tr.recordType, tr.recordType {
        td {
            padding: 10px;
            background-color: #ccd;
            border-radius: 10px;

            font-size: 130%;
            select {
                font-size: inherit;
                padding: 2px;
            }
        }
    }

}

table.main {
    tr.divider td {
        background-color: #C2E2C2;
        padding: 2px;
    }
}
