.periodic-table {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 15px repeat(15, 1fr);
  gap: 5px;
}
.periodic-table__element {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3px;
  background-color: var(--c-bg);
  border: 0;
  border-radius: 5px;
}
.periodic-table__element span {
  line-height: 1;
}
.periodic-table__element .number {
  text-align: left;
}
.periodic-table__element .weight {
  display: none;
  justify-self: end;
}
.periodic-table__element .symbol,
.periodic-table__element .name {
  grid-column: 1/-1;
  display: block;
  text-align: center;
  overflow: hidden;
}
.periodic-table__element .symbol {
  font-size: 200%;
  line-height: 1.4;
}
.periodic-table__element .number,
.periodic-table__element .weight,
.periodic-table__element .name {
  font-size: 10px;
}
.periodic-table__element.disabled {
  opacity: 0.3;
  pointer-events: none;
}
.periodic-table [data-symbol=He] {
  grid-column: 19;
}
.periodic-table [data-symbol=B],
.periodic-table [data-symbol=Al] {
  grid-column: 14;
}
.periodic-table [data-symbol=Ti],
.periodic-table [data-symbol=Zr],
.periodic-table [data-symbol=Hf],
.periodic-table [data-symbol=Rf] {
  grid-column: 5;
}
.periodic-table [data-symbol=Ce],
.periodic-table [data-symbol=Th] {
  grid-column: 5;
}
.periodic-table__vertical-spacer {
  grid-column: 1/-1;
  min-height: 20px;
}
.periodic-table__close-btn {
  grid-column: 1;
  grid-row: 10;
}

.chemical-input {
  width: 100%;
  padding-bottom: 50px;
}
.chemical-input [data-series=alkali-metal] {
  --c-bg: #d8f8ff;
}
.chemical-input [data-series=alkaline-earth-metal] {
  --c-bg: #ffe7e7;
}
.chemical-input [data-series=lanthanide] {
  --c-bg: #dff3ff;
}
.chemical-input [data-series=actinide] {
  --c-bg: #ffe6d4;
}
.chemical-input [data-series=transition-metal] {
  --c-bg: #f3e8fd;
}
.chemical-input [data-series=post-transition-metal] {
  --c-bg: #d6f9e8;
}
.chemical-input [data-series=metalloid] {
  --c-bg: #fef7e0;
}
.chemical-input [data-series=nonmetal] {
  --c-bg: #e2eeff;
}
.chemical-input [data-series=noble-gas] {
  --c-bg: #ffe7eb;
}
.chemical-input [data-series=unknown] {
  --c-bg: #e7e7ea;
}
.chemical-input__table-wrap {
  width: 100%;
  overflow: auto;
}
.chemical-input__table-wrap .periodic-table:empty {
  display: none;
}
.chemical-input__mode {
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 5px;
}
.chemical-input__mode button {
  border: 1px solid #000;
}
.chemical-input__mode button.active {
  color: white;
  background-color: green;
  border-color: green;
}
.chemical-input .periodic-table {
  min-width: 1200px;
  padding: 1em 2em;
  overflow: hidden;
}
.chemical-input .periodic-table .periodic-table__element:not(.disabled):hover, .chemical-input .periodic-table .periodic-table__element:not(.disabled):focus {
  transform: scale(1.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.chemical-input .periodic-table .periodic-table__element:not(.disabled):hover .weight, .chemical-input .periodic-table .periodic-table__element:not(.disabled):focus .weight {
  display: block;
}
.chemical-input .periodic-table__close-btn {
  display: grid;
  place-items: center;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}
.chemical-input__chain-header {
  display: flex;
  gap: 1em;
  justify-content: flex-end;
  align-items: center;
}
.chemical-input__chain-label {
  margin: 0;
}
.chemical-input__chain {
  --element-width: clamp(40px, 10vw, 100px);
  width: 100%;
  min-height: var(--element-width);
  position: relative;
  padding: 5px;
  display: flex;
  gap: 20px;
  background: #efefef;
  overflow: auto;
}
.chemical-input__chain__input {
  display: none;
}
.chemical-input__chain__elements {
  display: flex;
  gap: 20px;
  background: #efefef;
}
.chemical-input__chain__elements .periodic-table__element-wrap {
  flex-basis: var(--element-width);
  flex-grow: 0;
  display: grid;
  grid-template-columns: var(--element-width);
}
.chemical-input__chain__elements .periodic-table__element-wrap:hover, .chemical-input__chain__elements .periodic-table__element-wrap:focus-within {
  flex-basis: 120px;
  grid-template-columns: var(--element-width) 20px;
}
.chemical-input__chain__elements .periodic-table__element-wrap:hover ul, .chemical-input__chain__elements .periodic-table__element-wrap:focus-within ul {
  display: flex;
}
.chemical-input__chain__elements .periodic-table__element {
  font-size: calc(0.2 * var(--element-width));
  cursor: pointer;
}
.chemical-input__chain__elements .periodic-table__element:focus {
  border: 1px solid #000;
}
.chemical-input__chain__elements .periodic-table__element .name {
  display: none;
}
.chemical-input__chain__elements .periodic-table__element .pt-count {
  grid-column: 1/-1;
  display: block;
  text-align: right;
  font-size: 80%;
}
.chemical-input__chain__elements .periodic-table__element .pt-count:not(:focus) {
  background-color: transparent;
  border: 0;
}
.chemical-input__chain__elements ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  flex-direction: column;
}
.chemical-input__chain__elements ul > li {
  flex: 0 0 20%;
  display: grid;
  place-items: center;
  border: 1px solid #aaa;
}
.chemical-input__chain__elements ul > li button {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  cursor: pointer;
}
.chemical-input__chain__elements ul > li button svg {
  display: block;
  width: 12px;
  height: 12px;
  margin: auto;
}
.chemical-input__chain__add {
  width: var(--element-width);
  display: grid;
  place-items: center;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}
.chemical-input__chain__add svg {
  display: block;
  width: calc(0.3 * var(--element-width));
  height: calc(0.3 * var(--element-width));
}
.chemical-input__actions {
  padding-top: 5px;
  display: flex;
}
.chemical-input__actions__faves-wrap {
  display: flex;
}
.chemical-input__actions__faves-wrap button {
  white-space: nowrap;
}
.chemical-input__actions__faves-wrap button[data-action=delete],
.chemical-input__actions__faves-wrap button[data-action=save] {
  display: none;
}
.chemical-input__faves-name {
  display: none;
}
.chemical-input__faves[data-selection=compound] ~ button[data-action=delete] {
  display: inline-block;
}
.chemical-input__faves[data-selection=save-as] ~ .chemical-input__faves-name, .chemical-input__faves[data-selection=save-as] ~ button[data-action=save] {
  display: inline-block;
}
.chemical-input__chain-data-log {
  white-space: pre;
}
